{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["defaults"]
        },
        "useBuiltIns": "usage",
        "modules": false,
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {}
}
