{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.8",
      "flowVersion": "0.97"
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/prop-types": "off",
    "react/jsx-no-bind": ["error"],
    "react/jsx-key": "off",
    "react/display-name": "off",
    "no-prototype-builtins": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
