.light-outer {
  position: relative;
  background-color: rgba(0,0,0,0.4);
  width: 18px; height: 18px;
  border-radius: 50%;
}

$inner-padding: 4px;

.light-inner {
  position: absolute;
  left: $inner-padding;
  right: $inner-padding;
  top: $inner-padding;
  bottom: $inner-padding;
  border-radius: 50%;

  &--inactive {
    @extend .light-inner;
    background-color: #570000;
  }

  &--active {
    @extend .light-inner;
    background-color: #FE0000;
  }
}