@import "../../theme/text";
@import "../../theme/colors";
@import "../../theme/mixins";

$size: 216px;
$labelHeight: 30px;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  width: $size;
  height: #{$size + $labelHeight};
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  @include label-grey-large();
  line-height: $labelHeight;
}

.control-wrapper {
  position: relative;
  width: $size;
  height: $size;
}

.ring-outer {
  @include ring(100%, $grey);
}

.ring-inner {
  @include ring(83%, $dark-grey);
}

.knob-wrapper {
  @include ring(75%, rgba(0,0,0,0));
}