$light-active: #FE0000;
$light-inactive: #570000;

$grey: #979A93;
$dark-grey: #363830;
$drum-label: #E5E396;
$red: #E42C05;
$button-orange: #F37D02;
$stencil-orange: #F55D02;
$yellow: #DFD909;
$off-white: #DEE7B7;

$misc-knob-inner: #C8D4C8;
$level-knob-inner: $stencil-orange;
$drum-handle: #111111;

$dark-black: #24251f;
$slightly-darker-black: #161711;