@import './colors';

$font-family: "aktiv-grotesk", sans-serif;

$normal-weight: bold;

$xsmall-size: 10px;
$small-size: 12px;
$normal-size: 15px;
$large-size: 18px;

$normal-letterspacing: -0.3px;

@mixin label-grey-normal() {
  font-family: $font-family;
  font-size: $normal-size;
  font-weight: $normal-weight;
  color: $grey;
  text-align: center;
  letter-spacing: $normal-letterspacing;
}

@mixin label-grey-large() {
  @include label-grey-normal();
  font-size: $large-size;
}

@mixin label-grey-small() {
  @include label-grey-normal();
  font-size: $small-size;
}

@mixin label-grey-xsmall() {
  @include label-grey-normal();
  font-size: $xsmall-size;
}