@import "../../theme/text";
@import "../../theme/colors";
@import "../../theme/mixins";

$size: 100px;
$labelHeight: 30px;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  width: $size;
  height: #{$size + $labelHeight};
}

.control-wrapper {
  position: relative;
  width: $size; height: $size;
}

.knob-wrapper {
  @include ring(100%, rgba(0,0,0,0));
}

.label-wrapper {
  width: $size; height: $labelHeight;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.measures-label {
  @include label-grey-small();
}

.auto-label {
  position: relative;
  width: 120%;
  top: -4px;
  @include label-grey-large();
}